{% extends 'base.html.twig' %}

{% block title %}Hello ThemeAptitudesController!{% endblock %}

{% block body %}


    <form method="post">
        {% for questions in aptitudes %}

            <div class="formulaire">
                <div>
                    <h3 class="question">{{ questions.question }}</h3>
                </div>
                <div class="triRadio">
                    <div>
                        <label for="faible">Faible</label>
                        <input type="radio" value="0" name="{{ questions.id }}" id="faible">

                    </div>
                    <div>
                        <label for="moyen">Moyen</label>
                        <input type="radio" value="0" name="{{ questions.id }}" id="moyen">
                    </div>
                    <div>
                        <label for="fort">Fort</label>
                        <input type="radio" value="1" name="{{ questions.id }}" id="fort">
                    </div>

                </div>
            </div>
        {% endfor %}

        <div class="divBtnSubmit">
            <input type="submit"
                   class="btnSubmit" name="next">
        </div>


    </form>
{% endblock %}
