{% extends 'base.html.twig' %}

{% block title %}Hello ThemeAptitudesController!{% endblock %}

{% block body %}


    <form method="post">
        {% for questions in aptitudes %}

            <div class="formulaire">
                <div>
                    <h3 class="question">{{ questions.question }}</h3>
                </div>
                <div >
                    <div>
                        <label >Faible</label>
                        <input type="radio" value="0" name="{{ questions.id }}" >

                    </div>
                    <div>
                        <label >Moyen</label>
                        <input type="radio" value="0" name="{{ questions.id }}" >
                    </div>
                    <div>
                        <label >Fort</label>
                        <input type="radio" value="1" name="{{ questions.id }}" >
                    </div>






                </div>
            </div>
        {% endfor %}

        <div class="divBtnSubmit">
            <input type="submit"
                   class="btnSubmit" name="next">
        </div>


    </form>
{% endblock %}
