{% extends 'base.html.twig' %}

{% block title %}Hello ThemeAptitudesController!{% endblock %}

{% block body %}


    <form action="{{ asset("") }}" method="post">

        {% for question in aptitudes %}

            <div class="formulaire">
                <div>
                    <h3 class="question">{{ question.question }}</h3>
                </div>
                <div class="choix">
                    <label for="choix">J'aime</label>
                    <input type="checkbox" name="choix" id="choix">
                    {#                    <label for="choix">J'aime pas</label> #}
                    {#                    <input type="checkbox" name="choix" id="choix"> #}
                </div>
            </div>
        {% endfor %}

        <input type="submit">

    </form>
{% endblock %}
