.boutonStart {
    padding: 15px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    border-radius: 0.5em;
}

.title {
    text-align: center;
}

.divBtn {
    display: flex;
    justify-content: space-around;
}

.formulaire {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    border-bottom: 1px solid black;
    width: 70em;
    }

input {
    margin-right: 5em;
    margin-top: 20px;
    font-weight: 300;
    font-size:2em;
}
label {
    margin-right: 2em;
}
.range{
    margin-left: 1.5em;
}
.inputRange {
    width: 16em;
    margin-left: 1em;
}
