{% extends 'base.html.twig' %}

{% block head %}
    <h1 class="title">Thème : Métiers</h1>
{% endblock %}

{% block body %}

    <form action="{{ asset("") }}" method="post">

        {% for questions in metier %}

            <div class="formulaire">
                <div>
                    <p class="question">{{ questions.id }} - {{ questions.question }}</p>
                </div>
                <div class="choix">
                    <label for="choix">J'aime</label>
                    <input type="checkbox" name="choix" id="choix">
                    {#                    <label for="choix">J'aime pas</label> #}
                    {#                    <input type="checkbox" name="choix" id="choix"> #}
                </div>
            </div>
        {% endfor %}

        <input type="submit">

    </form>
{% endblock %}
