{% extends 'base.html.twig' %}

{% block head %}
    <h1 class="title">Thème : Métiers</h1>
{% endblock %}

{% block body %}

    <form action="{{ asset("") }}" method="post">

        {% for questions in metier %}

            <div class="formulaire">
                <div>
                    <p class="question">{{ questions.id }} - {{ questions.question }}</p>
                </div>
                <div class="choix">
                    <label class="choix">J'aime
                        <input type="checkbox" name="choix" class="choix_input">
                        <svg class="choix_check" width="12"
                             height="12">
                            <polyline points="9,3 4,8 1,5"></polyline>
                        </svg>
                    </label>
                </div>
            </div>
        {% endfor %}

        <div class="divBtnSubmit">
            <input type="submit" class="btnSubmit">
        </div>

    </form>
{% endblock %}
