{% extends 'base.html.twig' %}
{% block head %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid deserunt dignissimos dolores inventore laudantium neque nulla optio quae sint. Consequatur, laudantium, rerum. Aperiam fugit inventore placeat ut vel? Atque beatae eius, eum fugiat reprehenderit saepe sequi. Adipisci debitis dolor dolorem est harum nihil reprehenderit sapiente temporibus vero! Accusantium asperiores corporis eligendi iusto natus nihil, non pariatur quaerat quia quibusdam ratione sed soluta velit? Assumenda, atque corporis cupiditate eius harum laboriosam natus nobis nostrum quam, quas quo rem sapiente totam! Amet asperiores assumenda at consequatur, harum id ipsa ipsum, iusto libero provident quas, quasi quis quo recusandae tempora ut voluptatum.</p>
{% endblock %}
{% block body %}

    <div class="divBtn"><a href="" class="boutonStart">Commencer le test.</a></div>
{% endblock %}
