{% extends 'base.html.twig' %}

{% block title %}Hello ResultatController!{% endblock %}

{% block body %}

    <div class="resultat">
        <h1>Résultat RIASEC</h1>
    </div>

        <table class="tableau">
            <tr>
                <td>R</td>
                <td>I</td>
                <td>A</td>
                <td>S</td>
                <td>E</td>
                <td>C</td>
            </tr>
            <br><br>
            <tr>
                <td>?</td>
                <td>?</td>
                <td>?</td>
                <td>?</td>
                <td>?</td>
                <td>.</td>
            </tr>
        </table>





{% endblock %}
