<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("CSS/style.css") }}">
    </head>
    <body>
        {% block head %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
