{% extends 'base.html.twig' %}
{#{% block title %}#}
{#    Intérêts & Activités#}
{#{% endblock %}#}
{% block head %}
    <h1 class="title">Thème : Intérêts & Activités</h1>
{% endblock %}

{% block body %}

    <form action="{{ asset("") }}" method="post">

        {% for questions in activites %}

            <div class="formulaire">
                <div>
                    <h3 class="question">{{ questions.question }}</h3>
                </div>
                <div class="choix">
                    <label class="choix">J'aime
                    <input type="checkbox" name="choix" class="choix_input">
                    <svg class="choix_check" width="12"
                         height="12">
                        <polyline points="9,3 4,8 1,5"></polyline>
                    </svg>
                    </label>
                    {#                    <label for="choix">J'aime pas</label> #}
                    {#                    <input type="checkbox" name="choix" id="choix"> #}
                </div>
            </div>
        {% endfor %}

        <input type="submit">

    </form>


{% endblock %}
