{% extends 'base.html.twig' %}
{# {% block title %} #}
{#    Intérêts & Activités #}
{# {% endblock %} #}
{% block head %}
    <h1 class="title">Thème : Intérêts & Activités </h1>
{% endblock %}

{% block body %}

    <form method="post">
        {% for questions in activites %}

            <div class="formulaire">
                <div>
                    <h3 class="question">{{ questions.question }}</h3>
                </div>
                <div class="choix">
                    <label class="choix">J'aime
                        <input type="checkbox" name="{{ questions.id }}" class="choix_input">
                        <svg class="choix_check" width="12"
                             height="12">
                            <polyline points="9,3 4,8 1,5"></polyline>
                        </svg>
                    </label>
                </div>
            </div>
        {% endfor %}

        <div class="divBtnSubmit">
            <input type="submit"
                   class="btnSubmit">
        </div>
    </form>

{% endblock %}
